<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.1.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.9.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Xceed.Document.NET" version="2.5.23177.2123" targetFramework="net472" />
  <package id="Xceed.Pdf" version="2.5.23177.2123" targetFramework="net472" />
  <package id="Xceed.Words.NET" version="2.5.23177.2123" targetFramework="net472" />
</packages>